.main {
  background: url(./componentes/assests/pexels-pixabay-326333.jpg) no-repeat top
    center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-right: 10px;
  padding-left: 0px;
    
}
